APP_SECRET=*
APP_WEB_URL=http://localhost:3000

DATABASE_URL=postgresql://postgres:app@localhost/app

STORAGE_DRIVER=disk

MAIL_DRIVER=ethereal

ADMIN_NICKNAME=xxxxxxx
ADMIN_EMAIL=xxxxx@xxxxxxx.xxx
ADMIN_PASS=xxxxxxxxxxx